Pipelines/Incremental_Pipeline/Incremental_Pipeline.json
{
    "name": "Incremental_Pipeline",
    "properties": {
        "activities": [
            {
                "name": "last_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select * from watermark",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SqlTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "watermark"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "current_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select max(Date_ID) as Max_Date\nfrom src_cars",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "SqlTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "src_cars"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Incremental_load",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "last_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "current_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from src_cars where Date_ID > '@{activity('last_load').output.value[0].last_load}' and date_id <= '@{activity('current_load').output.value[0].Max_Date}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "SqlTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "src_cars"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Bronze",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Watermark",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Incremental_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[updatewatermarktable]",
                    "storedProcedureParameters": {
                        "last_load": {
                            "value": {
                                "value": "@activity('current_load').output.value[0].Max_Date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LinkedService_Database",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Jobs",
                "type": "DatabricksJob",
                "dependsOn": [
                    {
                        "activity": "Watermark",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "jobId": "585271155750182"
                },
                "linkedServiceName": {
                    "referenceName": "Databricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-07-25T15:06:15Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}